!!!
%html
  %head
    %title CutDownCommunicator
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #header
      %h1 CutDownCommunicator
      = render 'devise/menu/account_menu'
    #main
      = yield
    #footer
      %p mather 2011 all right reserved.
